@model Book

<!-- Summary data about each of our books -->
<tr>
    <td>@Model.BookID</td>
    <td>@Model.Title</td>
    <td>@Model.AuthorFirstName</td>
    <td>@Model.AuthorMiddleName</td>
    <td>@Model.AuthorLastName</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>$@Model.Price </td>
    <td>@Model.Pages </td>
</tr>