@{
    ViewBag.Title = "View Appointment";
}

@model IEnumerable<FormModel>

<style>
    table, th, td {
        border: 1px solid black;
    }

    th {
        height: 50px;
        background-color: #6c95e6;
        color: white;
        font-size: 20px;
    }

    th, td {
        padding: 5px;
    }

    table {
        width: 100%;
        border-collapse: separate;
    }
</style>


<h3 class="display-4 text-center">Appointment Information</h3>
<br />

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Name</th>
            <th>Size</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.Time</td>
                <td>@x.Name</td>
                <td>@x.Size</td>
                <td>@x.Email</td>
                <td>@x.Phone</td>

            </tr>
        }
    </tbody>
</table>

<br />
<div>
    <a class="btn btn-danger text-white" asp-action="Index">Home</a>
</div>


